<!--<div class="container">
  <div *ngFor="let element of listElements" class="box" (click)="aplicarSonido(element.numeroSonido)"[style.background-color]="element.color"></div>
</div>-->

<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
  App Piano
    </ion-title>
    <ion-button>
        <ion-icon slot="icon-only" name="musical-notes-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
  </ion-header>
 
  <div class="container">
    <div *ngFor="let element of listElements" class="box" (click)="aplicarSonido(element.numeroSonido)"
    [style.background-color]="element.color">
  </div>
  </div>
 
  <ion-footer>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>